:root {
  --elevated-shadow-color: rgba(0, 0, 0, 0.2);
  --elevated: 1;
}

.elevated {
  --elevation: calc(var(--elevated) + 1);
  box-shadow: 0 calc(var(--elevated) * 1px)
    calc((var(--elevated) * var(--elevated) * 1px) / 2)
    var(--elevated-shadow-color),
    0 calc(var(--elevation) * 1px)
    calc(var(--elevation) * var(--elevation) * 1px)
    var(--elevated-shadow-color);
}

