:root {
  --elevated-shadow-color: rgba(0, 0, 0, 0.3);
  --elevated: 1;
}

.elevated {
  box-shadow: 0 calc(var(--elevated) * 1px)
    calc(var(--elevated) * var(--elevated) * 1px)
    var(--elevated-shadow-color);
}
