:root {
  --margined-margin: 1.25em;
  --margined-x: 1;
  --margined-y: 1;
}

.margined {
  margin: calc(var(--margined-margin) * var(--margined-y))
          calc(var(--margined-margin) * var(--margined-x))
}

.centered {
  margin-left: auto;
  margin-right: auto;
}
