:root {
  --rounded-radius: 0.75em;
  --rounded: 1;
}

.rounded {
  border-radius: calc(var(--rounded-radius) * var(--rounded));
}

.rounded-top {
  border-radius: 
    calc(var(--rounded-radius) * var(--rounded))
    calc(var(--rounded-radius) * var(--rounded))
    0 0;
}

.rounded-bottom {
  border-radius: 
    0 0
    calc(var(--rounded-radius) * var(--rounded))
    calc(var(--rounded-radius) * var(--rounded));
}
