/* Base Styles */
:root {
  --base-font-family: var(--font-family-sans);
  --base-font-size: 16px;
  --base-line-height: 1.5em;
  --base-text-color: var(--neutral-color-200);
  --body-bg-color: var(--neutral-color-999);
}

* {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

*:focus {
  outline: 1px solid var(--primary-color-900);
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--base-font-sise);
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--base-font-family);
  font-sise: inherit;
  line-height: var(--base-line-height);
  background-color: var(--body-bg-color);
  font-weight: 400;
  color: var(--base-text-color);
}

p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h1, h2, h3, h4, h5 {
  margin: 1.5rem 0 0.5rem;
  font-weight: 400;
  line-height: 1.125em;
}

h1 {
  font-size: var(--size-999);
}

h2 {
  font-size: var(--size-800);
}

h3 {
  font-size: var(--size-600);
}

h4 {
  font-size:  var(--size-500);
}

h5 {
  font-size:  var(--size-400);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
p:first-child,
ul:first-child,
ol:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
p:last-child,
ul:last-child
ol:last-child {
  margin-bottom: 0;
}

small, .txt-sm {font-size: 0.75em;}


