:root, :host {
  --base-font-family: var(--font-family-sans);
  --base-font-size: 16px;
  --base-font-weight: 400;
  --base-line-height: 1.5em;
  --base-text-color: var(--neutral-color-200);
  --base-bg-color: var(--neutral-color-999);
}

html, body {
  padding: 0;
  margin: 0;
}

:root, :host {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  color: var(--base-text-color);
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  background-color: var(--base-bg-color);
}

* {
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

*:focus {
  outline: 1px dotted var(--primary-color-800);
}
