:root, :host {
  --button-line-height: 1em;
  --button-y-padding: 0.75em;
  --button-x-padding: 1.25em;
  --button-border-width: 1px;
  --button-text-color: var(--neutral-color-999);
  --button-icon-color: var(--neutral-color-300);
  --button-normal-color: var(--neutral-color-400);
  --button-hover-color: var(--neutral-color-500);
  --button-active-color: var(--neutral-color-700);
  --button-screen-color: var(--neutral-color-950);
  --button-border-radius: 2px;
}

.btn-input {
  display: none !important;
}

.btn {
  display: inline-block;
  padding: var(--button-y-padding) var(--button-x-padding);
  border: var(--button-border-width) solid var(--button-normal-color);
  background-color: var(--button-normal-color);
  line-height: var(--button-line-height);
  color: var(--button-text-color);
  text-align: center;
  border-radius: var(--button-border-radius);
  margin: 0;

  &:hover,
  &:hover .btn {
    border-color: var(--button-hover-color);
    background-color: var(--button-hover-color);
  }

  &.primary {
    --button-icon-color: var(--primary-color-300);
    --button-normal-color: var(--primary-color-400);
    --button-hover-color: var(--primary-color-500);
    --button-active-color: var(--primary-color-700);
    --button-screen-color: var(--primary-color-950);
  }

  &.accent {
    --button-icon-color: var(--accent-color-300);
    --button-normal-color: var(--accent-color-400);
    --button-hover-color: var(--accent-color-500);
    --button-active-color: var(--accent-color-700);
    --button-screen-color: var(--accent-color-950);
  }

  &.critical {
    --button-icon-color: var(--critical-color-300);
    --button-normal-color: var(--critical-color-400);
    --button-hover-color: var(--critical-color-500);
    --button-active-color: var(--critical-color-700);
    --button-screen-color: var(--critical-color-950);
  }

  &.confirm {
    --button-icon-color: var(--confirm-color-300);
    --button-normal-color: var(--confirm-color-400);
    --button-hover-color: var(--confirm-color-500);
    --button-active-color: var(--confirm-color-700);
    --button-screen-color: var(--confirm-color-950);
  }

  &:active,
  &:active &,
  &.active,
  &.active &,
  .btn-input:checked + &,
  .btn-input:checked + & & {
    border-color: var(--button-active-color);
    background-color: var(--button-active-color);
  }
}

.btn-light {
  background-color: var(--button-screen-color);
  border-color: var(--button-screen-color);
  color: var(--button-hover-color);

  &:hover {
    background-color: var(--button-screen-color);
    border-color: var(--button-screen-color);
    color: var(--button-normal-color);
  }

  &:active {
    background-color: var(--button-active-color);
    border-color: var(--button-active-color);
    color: var(--button-normal-color);
  }
}

.btn-outline {
  background-color: transparent;
  color: var(--button-normal-color);

  &:hover {
    background-color: var(--button-screen-color);
    color: var(--button-hover-color);
  }

  &:active {
    background-color: var(--button-screen-color);
    color: var(--button-active-color);
  }
}

.btn-flat {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-normal-color);

  &:hover {
    background-color: var(--button-screen-color);
    border-color: var(--button-screen-color);
    color: var(--button-hover-color);
  }

  &:active {
    background-color: var(--button-screen-color);
    border-color: var(--button-screen-color);
    color: var(--button-active-color);
  }
}

.btn-tab {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-normal-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: var(--button-active-color);


  &:hover {
    background-color: var(--button-screen-color);
    border-color: var(--button-screen-color);
    color: var(--button-hover-color);
    border-bottom-color: var(--button-hover-color);
  }
  &:active {
    background-color: var(--button-screen-color);
    border-color: var(--button-screen-color);
    color: var(--button-active-color);
    border-bottom-color: var(--button-normal-color);
  }
  &.active,
  .btn-input:checked + & {
    border-bottom-width: calc(var(--button-border-width) * 2);
    padding-bottom: calc(var(--button-y-padding) - var(--button-border-width));
    background-color: var(--button-screen-color);
    border-color: var(--button-screen-color);
    border-bottom-color: var(--button-icon-color);
    color: var(--button-icon-color);
  }
}


.btn-icon {
  width: calc(var(--button-line-height) + (var(--button-y-padding) * 2) + (var(--button-border-width) * 2));
  padding: var(--button-y-padding) 0;

  .btn > & {
    margin-top: calc((var(--button-y-padding) + var(--button-border-width)) * -1);
    margin-bottom: calc((var(--button-y-padding) + var(--button-border-width)) * -1);
    background-color: var(--button-icon-color);
    color: var(--button-text-color);
  }
  .btn > & {
    margin-left: calc((var(--button-x-padding) + var(--button-border-width)) * -1);
    margin-right: var(--button-x-padding);
  }
  .btn > &.after {
    margin-right: calc((var(--button-x-padding) + var(--button-border-width)) * -1);
    margin-left: var(--button-x-padding);
  }
}
