:root {
  --card-y-padding: 1.25em;
  --card-x-padding: 2em;
  --card-hr-height: 1px;
  --card-border-width: 4px;
  --card-border-color: var(--neutral-color-500);
  --card-hr-color: var(--neutral-color-900);
  --card-bar-color: var(--neutral-color-970);
}

.card {
  display: flex;
  flex-direction: column;
  border-top: var(--card-border-width) solid var(--card-border-color);

  .card-content {
    padding: var(--card-y-padding) var(--card-x-padding);
  }

  .card-hr {
    display: block;
    height: var(--card-hr-height);
    margin: 0 var(--card-x-padding);
    background-color: var(--card-hr-color);
  }

  .card-image {
    max-width: 100%;
    overflow: hidden;
  }

  .card-image img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }

  .card-bar {
    white-space: nowrap;
    background-color: var(--card-bar-color);
    padding: var(--card-y-padding) var(--card-x-padding);
    display: flex;
    justify-content: space-between;
  }


  &.horizontal {
    flex-direction: row;
    border-left: var(--card-border-width) solid var(--card-border-color);
    border-top: none;
  }
  &.horizontal .card-hr {
    width: var(--card-hr-height);
    height: auto;
    margin: var(--card-y-padding) 0;
  }
  &.horizontal .card-bar {
    flex-direction: column;
  }

  &.primary {
    --card-border-color: var(--primary-color-500);
    --card-hr-color: var(--primary-color-900);
    --card-bar-color: var(--primary-color-970);
  }

  &.accent {
    --card-border-color: var(--accent-color-500);
    --card-hr-color: var(--accent-color-900);
    --card-bar-color: var(--accent-color-970);
  }
}
