:root {
  --code-bg-color: var(--neutral-color-950);
  --code-text-color: var(--neutral-color-400);
  --code-border-radius: 2px;
  --code-y-padding: 0.125em;
  --code-x-padding: 0.25em;
  --code-block-y-padding: 0.75em;
  --code-block-x-padding: 1.25em;
  --code-font-family: var(--font-family-mono);
}

code,
.code {
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
  border-radius: var(--code-border-radius);
  padding: var(--code-y-padding) var(--code-x-padding);
  font-family: var(--code-font-family);
}

pre code,
.code-block {
  display: block;
  white-space: pre;
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
  border-radius: var(--code-border-radius);
  padding: var(--code-block-y-padding) var(--code-block-x-padding);
  font-family: var(--code-font-family);
}

code.primary,
.code.primary,
.code-block.primary {
  --code-bg-color: var(--primary-color-950);
  --code-text-color: var(--primary-color-400);
}

code.accent,
.code.accent,
.code-block.accent {
  --code-bg-color: var(--accent-color-950);
  --code-text-color: var(--accent-color-400);
}

