@import "./lib/_constants.scss";
@import "./lib/_functions.scss";

:root {
  --elevation-shadow-color: rgba(0, 0, 0, 0.2);
}

[style*="-elevation:"] {
  --elevation: var(--elevation-val);
  --elevation-2: calc(var(--elevation) + 1);
  box-shadow: 0 calc(var(--elevation) * 1px)
    calc((var(--elevation) * var(--elevation) * 1px) / 2)
    var(--elevation-shadow-color),
    0 calc(var(--elevation-2) * 1px)
    calc(var(--elevation-2) * var(--elevation-2) * 1px)
    var(--elevation-shadow-color);
}

$variables:
  "elevation";

@include generate-media-var-selectors($variables, $media-ranges);
