:root {
  --margined-margin: 1.25em;
  --margined-x: 1;
  --margined-y: 1;
}

[style*="-margined-x:"] {
  margin-left: calc(var(--margined-margin) * var(--margined-x));
  margin-right: calc(var(--margined-margin) * var(--margined-x));
}
[style*="-margined-y:"] {
  margin-top: calc(var(--margined-margin) * var(--margined-y));
  margin-bottom: calc(var(--margined-margin) * var(--margined-y));
}

@media screen and (max-width: 768px) {
  [style*="--md-margined-x:"] {
    --margined-x: var(--md-margined-x) !important;
  }
  [style*="--md-margined-y:"] {
    --margined-y: var(--md-margined-y) !important;
  }
}


.centered {
  margin-left: auto;
  margin-right: auto;
}
