@import "./lib/_constants.scss";
@import "./lib/_functions.scss";

:root {
  --margin-base: 1em;
}

[style*="-margin:"] {
  margin: calc(var(--margin-base) * var(--margin-val));
}
[style*="-margin-x:"] {
  margin-left: calc(var(--margin-base) * var(--margin-x-val));
  margin-right: calc(var(--margin-base) * var(--margin-x-val));
}
[style*="-margin-y:"] {
  margin-top: calc(var(--margin-base) * var(--margin-y-val));
  margin-bottom: calc(var(--margin-base) * var(--margin-y-val));
}

$variables:
  "margin",
  "margin-x",
  "margin-y";

@include generate-media-var-selectors($variables, $media-ranges);
