:root {
  --size-000: 0px;
  --size-100: 12px;
  --size-200: 14px;
  --size-300: 16px;
  --size-400: 20px;
  --size-500: 24px;
  --size-600: 30px;
  --size-700: 36px;
  --size-800: 48px;
  --size-900: 60px;
  --size-999: 72px;
  
  --g: 20;
  --w: 20;
  --h: 20;
}

.w,
[style*="--w"] {
  width: calc((100% / var(--g)) * var(--w));
}

.h,
[style*="--h:"] {
  height: calc((100% / var(--g)) * var(--h));
}
