:root, :host {
  --toast-border-width: 6px;
  --toast-bg-color: var(--neutral-color-950);
  --toast-border-color: var(--neutral-color-500);
  --toast-icon-color: var(--neutral-color-400);
  --toast-text-color: var(--neutral-color-300);
  --toast-x-padding: 1.25em;
  --toast-y-padding: 0.75em;
  --toast-icon-size: 2em;
  --toast-border-radius: 2px;
}

.toast {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--toast-bg-color);
  border-left: var(--toast-border-width) solid var(--toast-border-color);
  padding: var(--toast-y-padding) var(--toast-x-padding);
  color: var(--toast-text-color);
  border-radius: var(--toast-border-radius);
  --elevated: 4;

  &.primary {
    --toast-bg-color: var(--primary-color-950);
    --toast-border-color: var(--primary-color-500);
    --toast-icon-color: var(--primary-color-400);
    --toast-text-color: var(--primary-color-300);
  }

  &.accent {
    --toast-bg-color: var(--accent-color-950);
    --toast-border-color: var(--accent-color-500);
    --toast-icon-color: var(--accent-color-400);
    --toast-text-color: var(--accent-color-300);
  }

  &.critical {
    --toast-bg-color: var(--critical-color-950);
    --toast-border-color: var(--critical-color-500);
    --toast-icon-color: var(--critical-color-400);
    --toast-text-color: var(--critical-color-300);
  }

  &.warning {
    --toast-bg-color: var(--warning-color-950);
    --toast-border-color: var(--warning-color-500);
    --toast-icon-color: var(--warning-color-400);
    --toast-text-color: var(--warning-color-300);
  }

  &.confirm {
    --toast-bg-color: var(--confirm-color-950);
    --toast-border-color: var(--confirm-color-500);
    --toast-icon-color: var(--confirm-color-400);
    --toast-text-color: var(--confirm-color-300);
  }
}

.toast-icon {
  margin-right: var(--toast-x-padding);
  display: flex;
  color: var(--toast-icon-color);

  & > *:not(.avatar) {
    font-size: var(--toast-icon-size);
  }

  svg {
    height: var(--toast-icon-size);
    width: auto;
  }
}
