
/* Color Scheme */
:root, :host {
  --neutral-color-hue: 240;
  --neutral-color-sat: 10%;
  --neutral-color-000: black;
  --neutral-color-100: hsl(var(--neutral-color-hue), var(--neutral-color-sat), 10%);
  --neutral-color-200: hsl(var(--neutral-color-hue), var(--neutral-color-sat), 20%);
  --neutral-color-300: hsl(var(--neutral-color-hue), var(--neutral-color-sat), 30%);
  --neutral-color-400: hsl(var(--neutral-color-hue), var(--neutral-color-sat), 40%);
  --neutral-color-500: hsl(var(--neutral-color-hue), var(--neutral-color-sat), 50%);
  --neutral-color-600: hsl(var(--neutral-color-hue), var(--neutral-color-sat), 60%);
  --neutral-color-700: hsl(var(--neutral-color-hue), var(--neutral-color-sat), 70%);
  --neutral-color-800: hsl(var(--neutral-color-hue), var(--neutral-color-sat), 80%);
  --neutral-color-900: hsl(var(--neutral-color-hue), var(--neutral-color-sat), 90%);
  --neutral-color-950: hsl(var(--neutral-color-hue), var(--neutral-color-sat), 95%);
  --neutral-color-970: hsl(var(--neutral-color-hue), var(--neutral-color-sat), 97%);
  --neutral-color-999: white;

  --primary-color-hue: 240;
  --primary-color-sat: 80%;
  --primary-color-100: hsl(calc(var(--primary-color-hue) + 20), var(--primary-color-sat), 10%);
  --primary-color-200: hsl(calc(var(--primary-color-hue) + 15), var(--primary-color-sat), 20%);
  --primary-color-300: hsl(calc(var(--primary-color-hue) + 10), var(--primary-color-sat), 30%);
  --primary-color-400: hsl(calc(var(--primary-color-hue) + 5), var(--primary-color-sat), 40%);
  --primary-color-500: hsl(calc(var(--primary-color-hue) + 0), var(--primary-color-sat), 50%);
  --primary-color-600: hsl(calc(var(--primary-color-hue) - 5), var(--primary-color-sat), 60%);
  --primary-color-700: hsl(calc(var(--primary-color-hue) - 10), var(--primary-color-sat), 70%);
  --primary-color-800: hsl(calc(var(--primary-color-hue) - 15), var(--primary-color-sat), 80%);
  --primary-color-900: hsl(calc(var(--primary-color-hue) - 20), var(--primary-color-sat), 90%);
  --primary-color-950: hsl(calc(var(--primary-color-hue) - 25), var(--primary-color-sat), 95%);
  --primary-color-970: hsl(calc(var(--primary-color-hue) - 25), var(--primary-color-sat), 97%);

  --accent-color-hue: 320;
  --accent-color-sat: 80%;
  --accent-color-100: hsl(calc(var(--accent-color-hue) - 20), var(--accent-color-sat), 10%);
  --accent-color-200: hsl(calc(var(--accent-color-hue) - 15), var(--accent-color-sat), 20%);
  --accent-color-300: hsl(calc(var(--accent-color-hue) - 10), var(--accent-color-sat), 30%);
  --accent-color-400: hsl(calc(var(--accent-color-hue) - 5), var(--accent-color-sat), 40%);
  --accent-color-500: hsl(calc(var(--accent-color-hue) + 0), var(--accent-color-sat), 50%);
  --accent-color-600: hsl(calc(var(--accent-color-hue) + 5), var(--accent-color-sat), 60%);
  --accent-color-700: hsl(calc(var(--accent-color-hue) + 10), var(--accent-color-sat), 70%);
  --accent-color-800: hsl(calc(var(--accent-color-hue) + 15), var(--accent-color-sat), 80%);
  --accent-color-900: hsl(calc(var(--accent-color-hue) + 20), var(--accent-color-sat), 90%);
  --accent-color-950: hsl(calc(var(--accent-color-hue) + 25), var(--accent-color-sat), 95%);

  --critical-color-hue: 10;
  --critical-color-sat: 100%;
  --critical-color-100: hsl(calc(var(--critical-color-hue) - 20), var(--critical-color-sat), 10%);
  --critical-color-200: hsl(calc(var(--critical-color-hue) - 15), var(--critical-color-sat), 20%);
  --critical-color-300: hsl(calc(var(--critical-color-hue) - 10), var(--critical-color-sat), 30%);
  --critical-color-400: hsl(calc(var(--critical-color-hue) - 5), var(--critical-color-sat), 40%);
  --critical-color-500: hsl(calc(var(--critical-color-hue) + 0), var(--critical-color-sat), 50%);
  --critical-color-600: hsl(calc(var(--critical-color-hue) + 5), var(--critical-color-sat), 60%);
  --critical-color-700: hsl(calc(var(--critical-color-hue) + 10), var(--critical-color-sat), 70%);
  --critical-color-800: hsl(calc(var(--critical-color-hue) + 15), var(--critical-color-sat), 80%);
  --critical-color-900: hsl(calc(var(--critical-color-hue) + 20), var(--critical-color-sat), 90%);
  --critical-color-950: hsl(calc(var(--critical-color-hue) + 25), var(--critical-color-sat), 95%);

  --warning-color-hue: 50;
  --warning-color-sat: 70%;
  --warning-color-100: hsl(calc(var(--warning-color-hue) - 20), var(--warning-color-sat), 10%);
  --warning-color-200: hsl(calc(var(--warning-color-hue) - 15), var(--warning-color-sat), 20%);
  --warning-color-300: hsl(calc(var(--warning-color-hue) - 10), var(--warning-color-sat), 30%);
  --warning-color-400: hsl(calc(var(--warning-color-hue) - 5), var(--warning-color-sat), 40%);
  --warning-color-500: hsl(calc(var(--warning-color-hue) + 0), var(--warning-color-sat), 50%);
  --warning-color-600: hsl(calc(var(--warning-color-hue) + 5), var(--warning-color-sat), 60%);
  --warning-color-700: hsl(calc(var(--warning-color-hue) + 10), var(--warning-color-sat), 70%);
  --warning-color-800: hsl(calc(var(--warning-color-hue) + 15), var(--warning-color-sat), 80%);
  --warning-color-900: hsl(calc(var(--warning-color-hue) + 20), var(--warning-color-sat), 90%);
  --warning-color-950: hsl(calc(var(--warning-color-hue) + 25), var(--warning-color-sat), 95%);

  --confirm-color-hue: 100;
  --confirm-color-sat: 50%;
  --confirm-color-100: hsl(calc(var(--confirm-color-hue) - 20), var(--confirm-color-sat), 10%);
  --confirm-color-200: hsl(calc(var(--confirm-color-hue) - 15), var(--confirm-color-sat), 20%);
  --confirm-color-300: hsl(calc(var(--confirm-color-hue) - 10), var(--confirm-color-sat), 30%);
  --confirm-color-400: hsl(calc(var(--confirm-color-hue) - 5), var(--confirm-color-sat), 40%);
  --confirm-color-500: hsl(calc(var(--confirm-color-hue) + 0), var(--confirm-color-sat), 50%);
  --confirm-color-600: hsl(calc(var(--confirm-color-hue) + 5), var(--confirm-color-sat), 60%);
  --confirm-color-700: hsl(calc(var(--confirm-color-hue) + 10), var(--confirm-color-sat), 70%);
  --confirm-color-800: hsl(calc(var(--confirm-color-hue) + 15), var(--confirm-color-sat), 80%);
  --confirm-color-900: hsl(calc(var(--confirm-color-hue) + 20), var(--confirm-color-sat), 90%);
  --confirm-color-950: hsl(calc(var(--confirm-color-hue) + 25), var(--confirm-color-sat), 95%);
}

:root, :host {
  --opacity-000: 0;
  --opacity-100: 0.1;
  --opacity-200: 0.2;
  --opacity-300: 0.3;
  --opacity-400: 0.4;
  --opacity-500: 0.5;
  --opacity-600: 0.6;
  --opacity-700: 0.7;
  --opacity-800: 0.8;
  --opacity-900: 0.9;
  --opacity-999: 1;
}

/* Sizes */
:root, :host {
  --size-000: 0px;
  --size-100: 12px;
  --size-200: 14px;
  --size-300: 16px;
  --size-400: 20px;
  --size-500: 24px;
  --size-600: 30px;
  --size-700: 36px;
  --size-800: 48px;
  --size-900: 60px;
  --size-999: 72px;
}

/* Animations */
:root, :host {
  --transition-time: 200ms;
  --transition-easing: ease;
}

/* Typo */
:root, :host {
  --font-family-sans: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-mono: monospace;
}

/* Calc */
:root, :host {
	--golden-ratio: 1.61803;
	--pi: 3.14159;
}
